java-soap-glassfish/ProductCatalog.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://testmart.soap.sample.kriss.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductCatalogService" targetNamespace="http://testmart.soap.sample.kriss.com/">
<types>
<xsd:schema>
<xsd:import namespace="http://testmart.soap.sample.kriss.com/" schemaLocation="http://localhost:7001/java-soap-glassfish/ProductCatalogService?xsd=1"/>
</xsd:schema>
</types>
<message name="getProductCategories">
<part element="tns:getProductCategories" name="parameters"/>
</message>
<message name="getProductCategoriesResponse">
<part element="tns:getProductCategoriesResponse" name="parameters"/>
</message>
<message name="getProducts">
<part element="tns:getProducts" name="parameters"/>
</message>
<message name="getProductsResponse">
<part element="tns:getProductsResponse" name="parameters"/>
</message>
<message name="InvalidInputException">
<part element="tns:InvalidInputException" name="fault"/>
</message>
<message name="addProduct">
<part element="tns:addProduct" name="parameters"/>
</message>
<message name="addProductResponse">
<part element="tns:addProductResponse" name="parameters"/>
</message>
<message name="getProductsV2">
<part element="tns:getProductsV2" name="parameters"/>
</message>
<message name="getProductsV2Response">
<part element="tns:getProductsV2Response" name="parameters"/>
</message>
<portType name="ProductCatalog">
<operation name="getProductCategories">
<input message="tns:getProductCategories" wsam:Action="http://testmart.soap.sample.kriss.com/ProductCatalog/getProductCategoriesRequest"/>
<output message="tns:getProductCategoriesResponse" wsam:Action="http://testmart.soap.sample.kriss.com/ProductCatalog/getProductCategoriesResponse"/>
</operation>
<operation name="getProducts">
<input message="tns:getProducts" wsam:Action="http://testmart.soap.sample.kriss.com/ProductCatalog/getProductsRequest"/>
<output message="tns:getProductsResponse" wsam:Action="http://testmart.soap.sample.kriss.com/ProductCatalog/getProductsResponse"/>
<fault message="tns:InvalidInputException" name="InvalidInputException" wsam:Action="http://testmart.soap.sample.kriss.com/ProductCatalog/getProducts/Fault/InvalidInputException"/>
</operation>
<operation name="addProduct">
<input message="tns:addProduct" wsam:Action="http://testmart.soap.sample.kriss.com/ProductCatalog/addProductRequest"/>
<output message="tns:addProductResponse" wsam:Action="http://testmart.soap.sample.kriss.com/ProductCatalog/addProductResponse"/>
</operation>
<operation name="getProductsV2">
<input message="tns:getProductsV2" wsam:Action="http://testmart.soap.sample.kriss.com/ProductCatalog/getProductsV2Request"/>
<output message="tns:getProductsV2Response" wsam:Action="http://testmart.soap.sample.kriss.com/ProductCatalog/getProductsV2Response"/>
</operation>
</portType>
<binding name="ProductCatalogPortBinding" type="tns:ProductCatalog">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="getProductCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidInputException">
<soap:fault name="InvalidInputException" use="literal"/>
</fault>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductsV2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductCatalogService">
<port binding="tns:ProductCatalogPortBinding" name="ProductCatalogPort">
<soap:address location="http://localhost:7001/java-soap-glassfish/ProductCatalogService"/>
</port>
</service>
</definitions>
